Script for update localization/aion2_path.cfg
Script for unpack and pack/L10NString.dat
Script for unpack and pack/extracted_localization_L10NString_dat.json
Localization po files/localization_template_old.po
Script for unpack and pack/localization_template.po
Script for unpack and pack/repacked_L10NString_RU.dat
Script for unpack and pack/translations_from_po.json
Localization po files/localization_template.mo
Script for unpack and pack/1111.py
Script for unpack and pack/1231.py
Script for unpack and pack/124.py
Script for unpack and pack/1245.py
Script for unpack and pack/categorized_output/AchievementString_TEXT.json
Script for unpack and pack/categorized_output/AnonymousData_Mercenary_type_TEXT.json
Script for unpack and pack/categorized_output/AnonymousNameData_TEXT.json
Script for unpack and pack/categorized_output/CommandFunc_cmd_pcsocial_TEXT.json
Script for unpack and pack/categorized_output/CurrencyInfo_TEXT.json
Script for unpack and pack/categorized_output/CutsceneSubtitle_TEXT.json
Script for unpack and pack/categorized_output/EnvObjData_TEXT.json
Script for unpack and pack/categorized_output/EventContentsString_TEXT.json
Script for unpack and pack/categorized_output/GatherSkill_TEXT.json
Script for unpack and pack/categorized_output/GuideData_TEXT.json
Script for unpack and pack/categorized_output/InputKeyMapping_TEXT.json
Script for unpack and pack/categorized_output/InputKeyText_TEXT.json
Script for unpack and pack/categorized_output/InventoryFilter_TEXT.json
Script for unpack and pack/categorized_output/Message_TEXT.json
Script for unpack and pack/categorized_output/NoteData_TEXT.json
Script for unpack and pack/categorized_output/NpcData_M_COG_TEXT.json
Script for unpack and pack/categorized_output/NpcTalk_TEXT.json
Script for unpack and pack/categorized_output/PackageList_TEXT.json
Script for unpack and pack/categorized_output/PCCreationInfo_PC_CHARACTER_TEXT.json
Script for unpack and pack/categorized_output/PcSocialAction_TEXT.json
Script for unpack and pack/categorized_output/Post_TEXT.json
Script for unpack and pack/categorized_output/QuestPart_TEXT.json
Script for unpack and pack/categorized_output/QuestString_TEXT.json
Script for unpack and pack/categorized_output/ServerName_TEXT.json
Script for unpack and pack/categorized_output/SkillAbnormalString_TEXT.json
Script for unpack and pack/categorized_output/SkillCondString_TEXT.json
Script for unpack and pack/categorized_output/SkillString_SkillString_TEXT.json
Script for unpack and pack/categorized_output/SkillString_STR_SKILL_PC_ASSASSIN_TEXT.json
Script for unpack and pack/categorized_output/SkillString_STR_SKILL_PC_CHANTER_TEXT.json
Script for unpack and pack/categorized_output/SkillString_STR_SKILL_PC_CLERIC_TEXT.json
Script for unpack and pack/categorized_output/SkillString_STR_SKILL_PC_ELEMENTALIST_TEXT.json
Script for unpack and pack/categorized_output/SkillString_STR_SKILL_PC_GLADIATOR_TEXT.json
Script for unpack and pack/categorized_output/SkillString_STR_SKILL_PC_RANGER_TEXT.json
Script for unpack and pack/categorized_output/SkillString_STR_SKILL_PC_SORCERER_TEXT.json
Script for unpack and pack/categorized_output/SkillString_STR_SKILL_PC_TEMPLAR_TEXT.json
Script for unpack and pack/categorized_output/Skin_TEXT.json
Script for unpack and pack/categorized_output/SkinMaterial_TEXT.json
Script for unpack and pack/categorized_output/SkinPattern_MI_Pattern_TEXT.json
Script for unpack and pack/categorized_output/SkinPattern_Remover_desc_TEXT.json
Script for unpack and pack/categorized_output/SkinSet_TEXT.json
Script for unpack and pack/categorized_output/String_AttrStatName_TEXT.json
Script for unpack and pack/categorized_output/String_StatName_TEXT.json
Script for unpack and pack/categorized_output/String_STR_TEXT.json
Script for unpack and pack/categorized_output/String_TEXT.json
Script for unpack and pack/categorized_output/String_UI_TEXT.json
Script for unpack and pack/categorized_output/Tag_TEXT.json
Script for unpack and pack/categorized_output/TeleportArtifact_TEXT.json
Script for unpack and pack/categorized_output/Title_TEXT.json
Script for unpack and pack/categorized_output/TitleCategory_TEXT.json
Script for unpack and pack/categorized_output/TradeTab_TEXT.json
Script for unpack and pack/categorized_output/Wing_TEXT.json
Script for unpack and pack/L10NString_VK.dat
Script for unpack and pack/master_localization.mo
Script for unpack and pack/master_localization.po
Script for unpack and pack/po_categories/AchievementString.po
Script for unpack and pack/po_categories/AnonymousData_Mercenary_type.po
Script for unpack and pack/po_categories/AnonymousNameData.po
Script for unpack and pack/po_categories/CommandFunc_cmd_pcsocial.po
Script for unpack and pack/po_categories/CurrencyInfo.po
Script for unpack and pack/po_categories/CutsceneSubtitle.po
Script for unpack and pack/po_categories/EnvObjData.po
Script for unpack and pack/po_categories/EventContentsString.po
Script for unpack and pack/po_categories/GatherSkill.po
Script for unpack and pack/po_categories/GuideData.po
Script for unpack and pack/po_categories/InputKeyMapping.po
Script for unpack and pack/po_categories/InputKeyText.po
Script for unpack and pack/po_categories/InventoryFilter.po
Script for unpack and pack/po_categories/Message.po
Script for unpack and pack/po_categories/NoteData.po
Script for unpack and pack/po_categories/NpcData_M_COG.po
Script for unpack and pack/po_categories/NpcTalk.po
Script for unpack and pack/po_categories/PackageList.po
Script for unpack and pack/po_categories/PCCreationInfo_PC_CHARACTER.po
Script for unpack and pack/po_categories/PcSocialAction.po
Script for unpack and pack/po_categories/Post.po
Script for unpack and pack/po_categories/QuestPart.po
Script for unpack and pack/po_categories/QuestString.po
Script for unpack and pack/po_categories/ServerName.po
Script for unpack and pack/po_categories/SkillAbnormalString.po
Script for unpack and pack/po_categories/SkillCondString.po
Script for unpack and pack/po_categories/SkillString.po
Script for unpack and pack/po_categories/SkillString_STR_SKILL_PC_ASSASSIN.po
Script for unpack and pack/po_categories/SkillString_STR_SKILL_PC_CHANTER.po
Script for unpack and pack/po_categories/SkillString_STR_SKILL_PC_CLERIC.po
Script for unpack and pack/po_categories/SkillString_STR_SKILL_PC_ELEMENTALIST.po
Script for unpack and pack/po_categories/SkillString_STR_SKILL_PC_GLADIATOR.po
Script for unpack and pack/po_categories/SkillString_STR_SKILL_PC_RANGER_T.po
Script for unpack and pack/po_categories/SkillString_STR_SKILL_PC_SORCERER.po
Script for unpack and pack/po_categories/SkillString_STR_SKILL_PC_TEMPLAR.po
Script for unpack and pack/po_categories/Skin.po
Script for unpack and pack/po_categories/SkinMaterial.po
Script for unpack and pack/po_categories/SkinPattern_MI_Pattern.po
Script for unpack and pack/po_categories/SkinPattern_Remover_desc.po
Script for unpack and pack/po_categories/SkinSet.po
Script for unpack and pack/po_categories/String.po
Script for unpack and pack/po_categories/String_AttrStatName.po
Script for unpack and pack/po_categories/String_StatName_T.po
Script for unpack and pack/po_categories/String_STR.po
Script for unpack and pack/po_categories/String_UI_T.po
Script for unpack and pack/po_categories/Tag_T.po
Script for unpack and pack/po_categories/TeleportArtifact.po
Script for unpack and pack/po_categories/Title.po
Script for unpack and pack/po_categories/TitleCategory.po
Script for unpack and pack/po_categories/TradeTab_T.po
Script for unpack and pack/po_categories/Wing_T.po
