Script for update localization/aion2_path.cfg
Script for unpack and pack/L10NString.dat
Script for unpack and pack/extracted_localization_L10NString_dat.json
Localization po files/localization_template_old.po
Script for unpack and pack/localization_template.po
Script for unpack and pack/repacked_L10NString_RU.dat
Script for unpack and pack/translations_from_po.json
Localization po files/localization_template.mo
.DS_Store
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/encodings.xml
.idea/AION-2-Localization.iml
Script for unpack and pack/__pycache__/convert_json_to_po.cpython-313.pyc
Script for unpack and pack/__pycache__/Pack_Json_to_Dat.cpython-313.pyc
Script for unpack and pack/__pycache__/Unpack_Dat_File.cpython-313.pyc
Script for unpack and pack/all.py
Script for unpack and pack/L10NString_en.dat
Script for unpack and pack/po_categories/AchievementString.po
Script for unpack and pack/po_categories/AnonymousData_Mercenary_type.po
Script for unpack and pack/po_categories/AnonymousNameData.po
Script for unpack and pack/po_categories/CommandFunc_cmd_pcsocial.po
Script for unpack and pack/po_categories/CurrencyInfo.po
Script for unpack and pack/po_categories/CutsceneSubtitle.po
Script for unpack and pack/po_categories/EnvObjData.po
Script for unpack and pack/po_categories/EventContentsString.po
Script for unpack and pack/po_categories/GatherSkill.po
Script for unpack and pack/po_categories/GuideData.po
Script for unpack and pack/po_categories/InputKeyMapping.po
Script for unpack and pack/po_categories/InputKeyText.po
Script for unpack and pack/po_categories/InventoryFilter.po
Script for unpack and pack/po_categories/Message.po
Script for unpack and pack/po_categories/NoteData.po
Script for unpack and pack/po_categories/NpcData_M_COG.po
Script for unpack and pack/po_categories/NpcTalk.po
Script for unpack and pack/po_categories/PackageList.po
Script for unpack and pack/po_categories/PCCreationInfo_PC_CHARACTER.po
Script for unpack and pack/po_categories/PcSocialAction.po
Script for unpack and pack/po_categories/Post.po
Script for unpack and pack/po_categories/QuestPart.po
Script for unpack and pack/po_categories/QuestString.po
Script for unpack and pack/po_categories/ServerName.po
Script for unpack and pack/po_categories/SkillAbnormalString.po
Script for unpack and pack/po_categories/SkillCondString.po
Script for unpack and pack/po_categories/SkillString_ASSASSIN_skill_desc_effect.po
Script for unpack and pack/po_categories/SkillString_ASSASSIN_skill_spec_effect.po
Script for unpack and pack/po_categories/SkillString_ASSASSIN_SKILLS.po
Script for unpack and pack/po_categories/SkillString_CHANTER_skill_desc_effect.po
Script for unpack and pack/po_categories/SkillString_CHANTER_skill_spec_effect.po
Script for unpack and pack/po_categories/SkillString_CHANTER_SKILLS.po
Script for unpack and pack/po_categories/SkillString_CLERIC_skill_desc_effect.po
Script for unpack and pack/po_categories/SkillString_CLERIC_skill_spec_effect.po
Script for unpack and pack/po_categories/SkillString_CLERIC_SKILLS.po
Script for unpack and pack/po_categories/SkillString_ELEMENTALIST_skill_desc_effect.po
Script for unpack and pack/po_categories/SkillString_ELEMENTALIST_skill_spec_effect.po
Script for unpack and pack/po_categories/SkillString_ELEMENTALIST_SKILLS.po
Script for unpack and pack/po_categories/SkillString_GLADIATOR_skill_desc_effect.po
Script for unpack and pack/po_categories/SkillString_GLADIATOR_skill_spec_effect.po
Script for unpack and pack/po_categories/SkillString_GLADIATOR_SKILLS.po
Script for unpack and pack/po_categories/SkillString_RANGER_skill_desc_effect.po
Script for unpack and pack/po_categories/SkillString_RANGER_skill_spec_effect.po
Script for unpack and pack/po_categories/SkillString_RANGER_SKILLS.po
Script for unpack and pack/po_categories/SkillString_SkillString.po
Script for unpack and pack/po_categories/SkillString_SORCERER_skill_desc_effect.po
Script for unpack and pack/po_categories/SkillString_SORCERER_skill_spec_effect.po
Script for unpack and pack/po_categories/SkillString_SORCERER_SKILLS.po
Script for unpack and pack/po_categories/SkillString_STR_SKILL.po
Script for unpack and pack/po_categories/SkillString_TEMPLAR_skill_desc_effect.po
Script for unpack and pack/po_categories/SkillString_TEMPLAR_skill_spec_effect.po
Script for unpack and pack/po_categories/SkillString_TEMPLAR_SKILLS.po
Script for unpack and pack/po_categories/Skin.po
Script for unpack and pack/po_categories/SkinMaterial.po
Script for unpack and pack/po_categories/SkinPattern_MI_Pattern.po
Script for unpack and pack/po_categories/SkinPattern_Remover_desc.po
Script for unpack and pack/po_categories/SkinSet.po
Script for unpack and pack/po_categories/String.po
Script for unpack and pack/po_categories/String_AttrStatName.po
Script for unpack and pack/po_categories/String_StatName.po
Script for unpack and pack/po_categories/String_STR.po
Script for unpack and pack/po_categories/String_UI.po
Script for unpack and pack/po_categories/Tag.po
Script for unpack and pack/po_categories/TeleportArtifact.po
Script for unpack and pack/po_categories/Title.po
Script for unpack and pack/po_categories/TitleCategory.po
Script for unpack and pack/po_categories/TradeTab.po
Script for unpack and pack/po_categories/Wing.po
Script for unpack and pack/po_comparison/AchievementString.po
Script for unpack and pack/po_comparison/AnonymousData_Mercenary_type.po
Script for unpack and pack/po_comparison/AnonymousNameData.po
Script for unpack and pack/po_comparison/CommandFunc_cmd_pcrest.po
Script for unpack and pack/po_comparison/CommandFunc_cmd_pcsocial.po
Script for unpack and pack/po_comparison/CurrencyInfo.po
Script for unpack and pack/po_comparison/CutsceneSubtitle.po
Script for unpack and pack/po_comparison/EnvObjData.po
Script for unpack and pack/po_comparison/EventContentsString.po
Script for unpack and pack/po_comparison/GatherSkill.po
Script for unpack and pack/po_comparison/GuideData.po
Script for unpack and pack/po_comparison/InputKeyMapping.po
Script for unpack and pack/po_comparison/InputKeyText.po
Script for unpack and pack/po_comparison/InventoryFilter.po
Script for unpack and pack/po_comparison/Message.po
Script for unpack and pack/po_comparison/NoteData.po
Script for unpack and pack/po_comparison/NpcTalk.po
Script for unpack and pack/po_comparison/PackageList.po
Script for unpack and pack/po_comparison/PCCreationInfo_PC_CHARACTER.po
Script for unpack and pack/po_comparison/PcSocialAction.po
Script for unpack and pack/po_comparison/Post.po
Script for unpack and pack/po_comparison/QuestPart.po
Script for unpack and pack/po_comparison/QuestString.po
Script for unpack and pack/po_comparison/ServerName.po
Script for unpack and pack/po_comparison/SkillAbnormalString.po
Script for unpack and pack/po_comparison/SkillCondString.po
Script for unpack and pack/po_comparison/SkillString_ASSASSIN_skill_desc_effect.po
Script for unpack and pack/po_comparison/SkillString_ASSASSIN_skill_spec_effect.po
Script for unpack and pack/po_comparison/SkillString_ASSASSIN_SKILLS.po
Script for unpack and pack/po_comparison/SkillString_CHANTER_skill_desc_effect.po
Script for unpack and pack/po_comparison/SkillString_CHANTER_skill_spec_effect.po
Script for unpack and pack/po_comparison/SkillString_CHANTER_SKILLS.po
Script for unpack and pack/po_comparison/SkillString_CLERIC_skill_desc_effect.po
Script for unpack and pack/po_comparison/SkillString_CLERIC_skill_spec_effect.po
Script for unpack and pack/po_comparison/SkillString_CLERIC_SKILLS.po
Script for unpack and pack/po_comparison/SkillString_ELEMENTALIST_skill_desc_effect.po
Script for unpack and pack/po_comparison/SkillString_ELEMENTALIST_skill_spec_effect.po
Script for unpack and pack/po_comparison/SkillString_ELEMENTALIST_SKILLS.po
Script for unpack and pack/po_comparison/SkillString_GLADIATOR_skill_desc_effect.po
Script for unpack and pack/po_comparison/SkillString_GLADIATOR_skill_spec_effect.po
Script for unpack and pack/po_comparison/SkillString_GLADIATOR_SKILLS.po
Script for unpack and pack/po_comparison/SkillString_RANGER_skill_desc_effect.po
Script for unpack and pack/po_comparison/SkillString_RANGER_skill_spec_effect.po
Script for unpack and pack/po_comparison/SkillString_RANGER_SKILLS.po
Script for unpack and pack/po_comparison/SkillString_SkillString.po
Script for unpack and pack/po_comparison/SkillString_SORCERER_skill_desc_effect.po
Script for unpack and pack/po_comparison/SkillString_SORCERER_skill_spec_effect.po
Script for unpack and pack/po_comparison/SkillString_SORCERER_SKILLS.po
Script for unpack and pack/po_comparison/SkillString_STR_SKILL.po
Script for unpack and pack/po_comparison/SkillString_TEMPLAR_skill_desc_effect.po
Script for unpack and pack/po_comparison/SkillString_TEMPLAR_skill_spec_effect.po
Script for unpack and pack/po_comparison/SkillString_TEMPLAR_SKILLS.po
Script for unpack and pack/po_comparison/Skin.po
Script for unpack and pack/po_comparison/SkinMaterial.po
Script for unpack and pack/po_comparison/SkinPattern_MI_Pattern.po
Script for unpack and pack/po_comparison/SkinPattern_Remover_desc.po
Script for unpack and pack/po_comparison/SkinSet.po
Script for unpack and pack/po_comparison/String.po
Script for unpack and pack/po_comparison/String_AttrStatName.po
Script for unpack and pack/po_comparison/String_StatName.po
Script for unpack and pack/po_comparison/String_STR.po
Script for unpack and pack/po_comparison/String_UI.po
Script for unpack and pack/po_comparison/Tag.po
Script for unpack and pack/po_comparison/TeleportArtifact.po
Script for unpack and pack/po_comparison/Title.po
Script for unpack and pack/po_comparison/TitleCategory.po
Script for unpack and pack/po_comparison/TradeTab.po
Script for unpack and pack/po_comparison/Wing.po
Script for unpack and pack/po_dictonaries/AchievementString.po
Script for unpack and pack/po_dictonaries/AnonymousData_Mercenary_type.po
Script for unpack and pack/po_dictonaries/AnonymousNameData.po
Script for unpack and pack/po_dictonaries/CommandFunc_cmd_pcsocial.po
Script for unpack and pack/po_dictonaries/CurrencyInfo.po
Script for unpack and pack/po_dictonaries/CutsceneSubtitle.po
Script for unpack and pack/po_dictonaries/EnvObjData.po
Script for unpack and pack/po_dictonaries/EventContentsString.po
Script for unpack and pack/po_dictonaries/GatherSkill.po
Script for unpack and pack/po_dictonaries/GuideData.po
Script for unpack and pack/po_dictonaries/InputKeyMapping.po
Script for unpack and pack/po_dictonaries/InputKeyText.po
Script for unpack and pack/po_dictonaries/InventoryFilter.po
Script for unpack and pack/po_dictonaries/Message.po
Script for unpack and pack/po_dictonaries/NoteData.po
Script for unpack and pack/po_dictonaries/NpcData_M_COG.po
Script for unpack and pack/po_dictonaries/NpcTalk.po
Script for unpack and pack/po_dictonaries/PackageList.po
Script for unpack and pack/po_dictonaries/PCCreationInfo_PC_CHARACTER.po
Script for unpack and pack/po_dictonaries/PcSocialAction.po
Script for unpack and pack/po_dictonaries/Post.po
Script for unpack and pack/po_dictonaries/QuestPart.po
Script for unpack and pack/po_dictonaries/QuestString.po
Script for unpack and pack/po_dictonaries/ServerName.po
Script for unpack and pack/po_dictonaries/SkillAbnormalString.po
Script for unpack and pack/po_dictonaries/SkillCondString.po
Script for unpack and pack/po_dictonaries/SkillString_ASSASSIN_skill_desc_effect.po
Script for unpack and pack/po_dictonaries/SkillString_ASSASSIN_skill_spec_effect.po
Script for unpack and pack/po_dictonaries/SkillString_ASSASSIN_SKILLS.po
Script for unpack and pack/po_dictonaries/SkillString_CHANTER_skill_desc_effect.po
Script for unpack and pack/po_dictonaries/SkillString_CHANTER_skill_spec_effect.po
Script for unpack and pack/po_dictonaries/SkillString_CHANTER_SKILLS.po
Script for unpack and pack/po_dictonaries/SkillString_CLERIC_skill_desc_effect.po
Script for unpack and pack/po_dictonaries/SkillString_CLERIC_skill_spec_effect.po
Script for unpack and pack/po_dictonaries/SkillString_CLERIC_SKILLS.po
Script for unpack and pack/po_dictonaries/SkillString_ELEMENTALIST_skill_desc_effect.po
Script for unpack and pack/po_dictonaries/SkillString_ELEMENTALIST_skill_spec_effect.po
Script for unpack and pack/po_dictonaries/SkillString_ELEMENTALIST_SKILLS.po
Script for unpack and pack/po_dictonaries/SkillString_GLADIATOR_skill_desc_effect.po
Script for unpack and pack/po_dictonaries/SkillString_GLADIATOR_skill_spec_effect.po
Script for unpack and pack/po_dictonaries/SkillString_GLADIATOR_SKILLS.po
Script for unpack and pack/po_dictonaries/SkillString_RANGER_skill_desc_effect.po
Script for unpack and pack/po_dictonaries/SkillString_RANGER_skill_spec_effect.po
Script for unpack and pack/po_dictonaries/SkillString_RANGER_SKILLS.po
Script for unpack and pack/po_dictonaries/SkillString_SkillString.po
Script for unpack and pack/po_dictonaries/SkillString_SORCERER_skill_desc_effect.po
Script for unpack and pack/po_dictonaries/SkillString_SORCERER_skill_spec_effect.po
Script for unpack and pack/po_dictonaries/SkillString_SORCERER_SKILLS.po
Script for unpack and pack/po_dictonaries/SkillString_STR_SKILL.po
Script for unpack and pack/po_dictonaries/SkillString_TEMPLAR_skill_desc_effect.po
Script for unpack and pack/po_dictonaries/SkillString_TEMPLAR_skill_spec_effect.po
Script for unpack and pack/po_dictonaries/SkillString_TEMPLAR_SKILLS.po
Script for unpack and pack/po_dictonaries/Skin.po
Script for unpack and pack/po_dictonaries/SkinMaterial.po
Script for unpack and pack/po_dictonaries/SkinPattern_MI_Pattern.po
Script for unpack and pack/po_dictonaries/SkinPattern_Remover_desc.po
Script for unpack and pack/po_dictonaries/SkinSet.po
Script for unpack and pack/po_dictonaries/String.po
Script for unpack and pack/po_dictonaries/String_AttrStatName.po
Script for unpack and pack/po_dictonaries/String_StatName.po
Script for unpack and pack/po_dictonaries/String_STR.po
Script for unpack and pack/po_dictonaries/String_UI.po
Script for unpack and pack/po_dictonaries/Tag.po
Script for unpack and pack/po_dictonaries/TeleportArtifact.po
Script for unpack and pack/po_dictonaries/Title.po
Script for unpack and pack/po_dictonaries/TitleCategory.po
Script for unpack and pack/po_dictonaries/TradeTab.po
Script for unpack and pack/po_dictonaries/Wing.po
